

# Project: Investigating FBI Gun Checks dataset

## Table of Contents

My goal is to explore the trends of U.S gun purchases and its relationship with census variables and transformed, combined and visualized gun and census datasets using NumPy, Pandas and Matplotlib libraries.Gun data and census data are two separate datasets. Their common variables/values include state of United States and year month, which requires data cleaning at first. I used joins to merge these two datasets to see the relationship between gun purchase and census variable.

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In this project I will be using the data provided by this [github](https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md) and the original source of data is coming from [FBI National Instant Criminal Background Check System (NICS)](https://www.fbi.gov/services/cjis/nics). I guess one of the most significant caveats to this data is that state gun laws differ from each other. So some states have stricter gun laws other may not have. 

Questions I will try to under in this study are;

<ul>
<li><a>Has pandemic impacted on gun sales numbers in the US?</a></li>
<li><a>How does the gun ownership look like among ethnic groups?</a></li>


</ul>

Despite the fact that I searched for the data collection method and what each column head meaning but there was no information. So I will exclude columns like,
<ul>
<li><a>admin</a></li>
<li><a>prepawn_handgun</a></li>
<li><a>prepawn_long_gun</a></li>
<li><a>redemption_handgun</a></li>
<li><a>redemption_long_gun</a></li>
<li><a>redemption_other</a></li>
<li><a>returned_other</a></li>
<li><a>returned_handgun</a></li>
<li><a>returned_long_gun</a></li>

</ul>

not just because there is no explanation but also lack of enough data, especially in the past. Also despite no clear indication, it is safe to assume that not all the background checks ended up with sales. Census data in this project belongs to <b>2016</b> and gun check data belongs to <b>May 2021.</b>

<a id='wrangling'></a>
## Data Wrangling

In [287]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_gun = pd.read_csv(r'C:\Users\serda\Downloads\gun_data.csv')
df_census = pd.read_csv(r'C:\Users\serda\Downloads\census_data.csv')

In [157]:
df_gun.head(5)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2021-05,Alabama,28248.0,317.0,21664.0,12423.0,1334.0,865,0.0,19.0,...,0.0,0.0,0.0,29.0,15.0,9.0,1.0,0.0,0.0,66937
1,2021-05,Alaska,307.0,7.0,3368.0,2701.0,323.0,208,0.0,1.0,...,0.0,0.0,0.0,12.0,14.0,0.0,0.0,0.0,0.0,7145
2,2021-05,Arizona,21767.0,695.0,20984.0,9259.0,1676.0,1010,0.0,7.0,...,5.0,0.0,0.0,11.0,10.0,1.0,0.0,1.0,0.0,56581
3,2021-05,Arkansas,7697.0,1171.0,8501.0,5072.0,422.0,340,3.0,7.0,...,0.0,0.0,0.0,8.0,8.0,2.0,0.0,0.0,0.0,24206
4,2021-05,California,20742.0,11514.0,40160.0,25824.0,5576.0,0,0.0,11.0,...,129.0,0.0,0.0,8165.0,3024.0,657.0,36.0,12.0,1.0,119739

In [288]:
df_gun.shape

(14905, 27)

In [159]:
df_gun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14905 entries, 0 to 14904
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14905 non-null  object
 1   state                      14905 non-null  object
 2   permit                     14881 non-null  float64
 3   permit_recheck             3520 non-null   float64
 4   handgun                    14885 non-null  float64
 5   long_gun                   14886 non-null  float64
 6   other                      7920 non-null   float64
 7   multiple                   14905 non-null  int64
 8   admin                      14882 non-null  float64
 9   prepawn_handgun            12962 non-null  float64
 10  prepawn_long_gun           12960 non-null  float64
 11  prepawn_other              7535 non-null   float64
 12  redemption_handgun         12965 non-null  float64
 13  redemption_long_gun        12964 non-null  float64
 14  redemption_other           7535 non-null   float64
 15  returned_handgun           4620 non-null   float64
 16  returned_long_gun          4565 non-null   float64
 17  returned_other             4235 non-null   float64
 18  rentals_handgun            3410 non-null   float64
 19  rentals_long_gun           3245 non-null   float64
 20  private_sale_handgun       5170 non-null   float64
 21  private_sale_long_gun      5170 non-null   float64
 22  private_sale_other         5170 non-null   float64
 23  return_to_seller_handgun   4895 non-null   float64
 24  return_to_seller_long_gun  5170 non-null   float64
 25  return_to_seller_other     4675 non-null   float64
 26  totals                     14905 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.1+ MB

In [289]:
df_gun.columns.values

array(['month', 'state', 'permit', 'permit_recheck', 'handgun',
       'long_gun', 'other', 'multiple', 'admin', 'prepawn_handgun',
       'prepawn_long_gun', 'prepawn_other', 'redemption_handgun',
       'redemption_long_gun', 'redemption_other', 'returned_handgun',
       'returned_long_gun', 'returned_other', 'rentals_handgun',
       'rentals_long_gun', 'private_sale_handgun',
       'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'], dtype=object)

In [132]:
df_gun.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,14881.000000,3.520000e+03,14885.000000,14886.000000,7920.000000,14905.000000,14882.000000,12962.000000,12960.000000,7535.000000,...,4235.000000,3410.000000,3245.000000,5170.000000,5170.000000,5170.000000,4895.000000,5170.000000,4675.000000,1.490500e+04
mean,7262.423023,9.121745e+03,7126.240578,7979.996641,550.798106,300.823348,52.695807,5.183614,7.534954,0.391506,...,3.039906,0.151320,0.162404,35.711605,24.203675,3.968085,0.960776,0.920116,0.131123,2.607925e+04
std,25979.415398,6.121086e+04,10625.250669,9223.399560,1381.419837,780.698822,561.274833,11.430987,15.845106,1.421938,...,22.583808,1.010058,1.021262,285.154774,126.755101,26.036560,4.786416,3.897209,0.525479,4.814372e+04
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000e+00,1039.000000,2176.250000,30.000000,14.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.064000e+03
50%,815.000000,0.000000e+00,3529.000000,5270.000000,179.500000,135.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.342900e+04
75%,5620.000000,7.625000e+01,8654.000000,10754.750000,565.250000,333.000000,0.000000,5.000000,8.000000,0.000000,...,1.000000,0.000000,0.000000,14.000000,14.000000,1.000000,0.000000,0.000000,0.000000,2.920000e+04
max,522188.000000,1.350676e+06,147714.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,...,592.000000,13.000000,12.000000,10623.000000,4159.000000,829.000000,70.000000,62.000000,18.000000,1.427917e+06

In [290]:
df_census.columns.values

array(['Fact', 'Fact Note', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [34]:
df_census.head(5)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [35]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

In [291]:
df_census.columns.values

array(['Fact', 'Fact Note', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [36]:
df_census.shape

(85, 52)

In [37]:
df_census.describe

<bound method NDFrame.describe of                                                  Fact  \
0        Population estimates, July 1, 2016,  (V2016)
1   Population estimates base, April 1, 2010,  (V2...
2   Population, percent change - April 1, 2010 (es...
3                   Population, Census, April 1, 2010
4   Persons under 5 years, percent, July 1, 2016, ...
..                                                ...
80                                                 FN
81                                                NaN
82                                                  S
83                                                  X
84                                                  Z

                                            Fact Note    Alabama   Alaska  \
0                                                 NaN  4,863,300  741,894
1                                                 NaN  4,780,131  710,249
2                                                 NaN      1.70%    4.50%
3                                                 NaN  4,779,736  710,231
4                                                 NaN      6.00%    7.30%
..                                                ...        ...      ...
80             Footnote on this item in place of data        NaN      NaN
81                                      Not available        NaN      NaN
82    Suppressed; does not meet publication standards        NaN      NaN
83                                     Not applicable        NaN      NaN
84  Value greater than zero but less than half uni...        NaN      NaN

      Arizona   Arkansas  California   Colorado Connecticut Delaware  ...  \
0   6,931,071  2,988,248  39,250,017  5,540,545   3,576,452  952,065  ...
1   6,392,301  2,916,025  37,254,522  5,029,324   3,574,114  897,936  ...
2       8.40%      2.50%       5.40%     10.20%       0.10%    6.00%  ...
3   6,392,017  2,915,918  37,253,956  5,029,196   3,574,097  897,934  ...
4       6.30%      6.40%       6.30%      6.10%       5.20%    5.80%  ...
..        ...        ...         ...        ...         ...      ...  ...
80        NaN        NaN         NaN        NaN         NaN      NaN  ...
81        NaN        NaN         NaN        NaN         NaN      NaN  ...
82        NaN        NaN         NaN        NaN         NaN      NaN  ...
83        NaN        NaN         NaN        NaN         NaN      NaN  ...
84        NaN        NaN         NaN        NaN         NaN      NaN  ...

   South Dakota Tennessee       Texas       Utah  Vermont   Virginia  \
0        865454   6651194  27,862,596  3,051,217  624,594  8,411,808
1        814195   6346298  25,146,100  2,763,888  625,741  8,001,041
2         0.063     0.048      10.80%     10.40%   -0.20%      5.10%
3        814180   6346105  25,145,561  2,763,885  625,741  8,001,024
4         0.071     0.061       7.20%      8.30%    4.90%      6.10%
..          ...       ...         ...        ...      ...        ...
80          NaN       NaN         NaN        NaN      NaN        NaN
81          NaN       NaN         NaN        NaN      NaN        NaN
82          NaN       NaN         NaN        NaN      NaN        NaN
83          NaN       NaN         NaN        NaN      NaN        NaN
84          NaN       NaN         NaN        NaN      NaN        NaN

   Washington West Virginia  Wisconsin  Wyoming
0   7,288,000     1,831,102  5,778,708  585,501
1   6,724,545     1,853,011  5,687,289  563,767
2       8.40%        -1.20%      1.60%    3.90%
3   6,724,540     1,852,994  5,686,986  563,626
4       6.20%         5.50%      5.80%    6.50%
..        ...           ...        ...      ...
80        NaN           NaN        NaN      NaN
81        NaN           NaN        NaN      NaN
82        NaN           NaN        NaN      NaN
83        NaN           NaN        NaN      NaN
84        NaN           NaN        NaN      NaN

[85 rows x 52 columns]>

In [292]:
df_gun.duplicated().sum()

0

In [293]:
duplicated = df_census[df_census.duplicated()]
duplicated

#looks like only the null valued rows deemed as duplicated.

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Cleansing - Gun Data

In [294]:
# in order to have a more granular view of the data, we need to exclude all the uncessary columns than parse the year and month


columns_to_drop =['permit', 'permit_recheck', 'multiple', 'admin', 'prepawn_handgun',
       'prepawn_long_gun', 'prepawn_other', 'redemption_handgun',
       'redemption_long_gun', 'redemption_other', 'returned_handgun',
       'returned_long_gun', 'returned_other', 'rentals_handgun',
       'rentals_long_gun', 'private_sale_handgun',
       'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other']

In [295]:
df_gun.head(1)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2021-05,Alabama,28248.0,317.0,21664.0,12423.0,1334.0,865,0.0,19.0,...,0.0,0.0,0.0,29.0,15.0,9.0,1.0,0.0,0.0,66937

In [296]:
df_guned = df_gun.drop(df_gun[columns_to_drop], axis = 1, inplace=True)

In [297]:
df_gun

         month          state  handgun  long_gun   other  totals
0      2021-05        Alabama  21664.0   12423.0  1334.0   66937
1      2021-05         Alaska   3368.0    2701.0   323.0    7145
2      2021-05        Arizona  20984.0    9259.0  1676.0   56581
3      2021-05       Arkansas   8501.0    5072.0   422.0   24206
4      2021-05     California  40160.0   25824.0  5576.0  119739
...        ...            ...      ...       ...     ...     ...
14900  1998-11       Virginia     14.0       2.0     NaN      24
14901  1998-11     Washington     65.0     286.0     NaN     361
14902  1998-11  West Virginia    149.0     251.0     NaN     408
14903  1998-11      Wisconsin     25.0     214.0     NaN     241
14904  1998-11        Wyoming     45.0      49.0     NaN     107

[14905 rows x 6 columns]

In [298]:
#splitting month and year

df_gun['year_month'] = df_gun['month']
df_gun['year']= df_gun['month'].apply(lambda x : int(x.split("-")[0]) )
df_gun['month']= df_gun['month'].apply(lambda x : int(x.split("-")[1]) )

In [301]:
df_gun.head(1)

   month    state  handgun  long_gun   other  totals year_month  year
0      5  Alabama  21664.0   12423.0  1334.0   66937    2021-05  2021

In [302]:
df_gun.to_csv(r'C:\Users\serda\Downloads\df_gun_clean.csv', index=False)

In [303]:
df_gun_clean= pd.read_csv(r'C:\Users\serda\Downloads\df_gun_clean.csv')

In [304]:
df_gun_clean['year_month']=pd.to_datetime(df_gun_clean['year_month'])

In [305]:
df_gun_clean.head(1)

   month    state  handgun  long_gun   other  totals year_month  year
0      5  Alabama  21664.0   12423.0  1334.0   66937 2021-05-01  2021

In [306]:
df_gun_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14905 entries, 0 to 14904
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   month       14905 non-null  int64
 1   state       14905 non-null  object
 2   handgun     14885 non-null  float64
 3   long_gun    14886 non-null  float64
 4   other       7920 non-null   float64
 5   totals      14905 non-null  int64
 6   year_month  14905 non-null  datetime64[ns]
 7   year        14905 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 931.7+ KB

### Data Cleansing - U.S. Census Data

In [307]:
#Settibg the index as fact then will replace it with state
df_census.set_index('Fact',inplace=True)
df_census = df_census.T.reset_index()
df_census

Fact,index,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,Fact Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Either no or too few sample observations were ...,Suppressed to avoid disclosure of confidential...,Fewer than 25 firms,Footnote on this item in place of data,Not available,Suppressed; does not meet publication standards,Not applicable,Value greater than zero but less than half uni...
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,"5,540,545","5,029,324",10.20%,"5,029,196",6.10%,6.80%,22.80%,24.40%,13.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,"3,576,452","3,574,114",0.10%,"3,574,097",5.20%,5.70%,21.10%,22.90%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,"952,065","897,936",6.00%,"897,934",5.80%,6.20%,21.50%,22.90%,17.50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,"20,612,439","18,804,592",9.60%,"18,801,310",5.50%,5.70%,20.10%,21.30%,19.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,"10,310,371","9,688,680",6.40%,"9,687,653",6.40%,7.10%,24.40%,25.70%,13.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Hawaii,"1,428,557","1,360,301",5.00%,"1,360,301",6.40%,6.40%,21.60%,22.30%,17.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Idaho,"1,683,140","1,567,650",7.40%,"1,567,582",6.80%,7.80%,26.00%,27.40%,15.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Illinois,"12,801,539","12,831,574",-0.20%,"12,830,632",6.00%,6.50%,22.90%,24.40%,14.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Indiana,"6,633,053","6,484,136",2.30%,"6,483,802",6.40%,6.70%,23.80%,24.80%,14.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Iowa,"3,134,693","3,046,869",2.90%,"3,046,355",6.40%,6.60%,23.30%,23.90%,16.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Kansas,"2,907,289","2,853,129",1.90%,"2,853,118",6.70%,7.20%,24.60%,25.50%,15.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kentucky,"4,436,974","4,339,344",2.20%,"4,339,367",6.20%,6.50%,22.80%,23.60%,15.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Louisiana,"4,681,666","4,533,479",3.30%,"4,533,372",6.60%,6.90%,23.80%,24.70%,14.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Maine,"1,331,479","1,328,364",0.20%,"1,328,361",4.90%,5.20%,19.10%,20.70%,19.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maryland,"6,016,447","5,773,786",4.20%,"5,773,552",6.10%,6.30%,22.40%,23.40%,14.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Massachusetts,"6,811,779","6,547,813",4.00%,"6,547,629",5.30%,5.60%,20.20%,21.70%,15.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Michigan,"9,928,300","9,884,129",0.40%,"9,883,640",5.80%,6.00%,22.10%,23.70%,16.20%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Minnesota,"5,519,952","5,303,924",4.10%,"5,303,925",6.40%,6.70%,23.30%,24.20%,15.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Mississippi,"2,988,726","2,968,103",0.70%,"2,967,297",6.30%,7.10%,24.10%,25.50%,15.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Missouri,"6,093,000","5,988,928",1.70%,"5,988,927",6.10%,6.50%,22.80%,23.80%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Montana,"1,042,520","989,414",5.40%,"989,415",6.00%,6.30%,21.80%,22.60%,17.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Nebraska,"1,907,116","1,826,334",4.40%,"1,826,341",7.00%,7.20%,24.80%,25.10%,15.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nevada,"2,940,058","2,700,691",8.90%,"2,700,551",6.30%,6.90%,23.00%,24.60%,15.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,New Hampshire,"1,334,795","1,316,461",1.40%,"1,316,470",4.80%,5.30%,19.50%,21.80%,17.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Jersey,"8,944,469","8,791,953",1.70%,"8,791,894",5.80%,6.20%,22.20%,23.50%,15.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Mexico,2081015,2059198,0.011,2059179,0.062,0.07,0.236,0.252,0.165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New York,19745289,19378110,0.019,19378102,0.059,0.06,0.212,0.223,0.154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,North Carolina,10146788,9535688,0.064,9535483,0.06,0.066,0.227,0.239,0.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Dakota,757952,672591,0.127,672591,0.073,0.066,0.233,0.223,0.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Ohio,11614373,11536727,0.007,11536504,0.06,0.062,0.225,0.237,0.162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Oklahoma,3923561,3751615,0.046,3751351,0.068,0.07,0.245,0.248,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Oregon,4093465,3831072,0.068,3831074,0.058,0.062,0.212,0.226,0.168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Pennsylvania,12784227,12702857,0.006,12702379,0.056,0.057,0.209,0.22,0.174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Rhode Island,1056426,1052940,0.003,1052567,0.052,0.055,0.197,0.213,0.165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,South Carolina,4961119,4625410,0.073,4625364,0.059,0.065,0.221,0.234,0.167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,South Dakota,865454,814195,0.063,814180,0.071,0.073,0.246,0.249,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Tennessee,6651194,6346298,0.048,6346105,0.061,0.064,0.226,0.236,0.157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Texas,"27,862,596","25,146,100",10.80%,"25,145,561",7.20%,7.70%,26.20%,27.30%,12.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Utah,"3,051,217","2,763,888",10.40%,"2,763,885",8.30%,9.50%,30.20%,31.50%,10.50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Vermont,"624,594","625,741",-0.20%,"625,741",4.90%,5.10%,19.00%,20.70%,18.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Virginia,"8,411,808","8,001,041",5.10%,"8,001,024",6.10%,6.40%,22.20%,23.20%,14.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Washington,"7,288,000","6,724,545",8.40%,"6,724,540",6.20%,6.50%,22.40%,23.50%,14.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,West Virginia,"1,831,102","1,853,011",-1.20%,"1,852,994",5.50%,5.60%,20.50%,20.90%,18.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Wisconsin,"5,778,708","5,687,289",1.60%,"5,686,986",5.80%,6.30%,22.30%,23.60%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Wyoming,"585,501","563,767",3.90%,"563,626",6.50%,7.10%,23.70%,24.00%,15.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [308]:
# Before joining to two datasets, first we need to set up the state name as index in the census_data.
df_census.rename(columns={'index':'state'},inplace = True)

In [309]:
df_census.head()

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,Fact Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Either no or too few sample observations were ...,Suppressed to avoid disclosure of confidential...,Fewer than 25 firms,Footnote on this item in place of data,Not available,Suppressed; does not meet publication standards,Not applicable,Value greater than zero but less than half uni...
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [310]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 86 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   state                                                                                   51 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     object
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     object
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     object
 4   Population, Census, April 1, 2010                                                       50 non-null     object
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     object
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     object
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     object
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     object
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     object
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     object
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     object
 12  Female persons, percent, April 1, 2010                                                  50 non-null     object
 13  White alone, percent, July 1, 2016,  (V2016)                                            51 non-null     object
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        51 non-null     object
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                51 non-null     object
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            51 non-null     object
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       51 non-null     object
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     object
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     51 non-null     object
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     object
 21  Veterans, 2011-2015                                                                     50 non-null     object
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     object
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     object
 24  Housing units, April 1, 2010                                                            50 non-null     object
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     object
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     object
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     object
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     object
 29  Median gross rent, 2011-2015                                                            50 non-null     object
 30  Building permits, 2016                                                                  50 non-null     object
 31  Households, 2011-2015                                                                   50 non-null     object
 32  Persons per household, 2011-2015                                                        50 non-null     object
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     object
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     object
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     object
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     object
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     object
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     object
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     object
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     object
 41  Total accommodation and food services sales, 2012 ($1,000)                              51 non-null     object
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 51 non-null     object
 43  Total manufacturers shipments, 2012 ($1,000)                                            51 non-null     object
 44  Total merchant wholesaler sales, 2012 ($1,000)                                          51 non-null     object
 45  Total retail sales, 2012 ($1,000)                                                       51 non-null     object
 46  Total retail sales per capita, 2012                                                     51 non-null     object
 47  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     object
 48  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     object
 49  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     object
 50  Persons in poverty, percent                                                             50 non-null     object
 51  Total employer establishments, 2015                                                     51 non-null     object
 52  Total employment, 2015                                                                  51 non-null     object
 53  Total annual payroll, 2015 ($1,000)                                                     51 non-null     object
 54  Total employment, percent change, 2014-2015                                             51 non-null     object
 55  Total nonemployer establishments, 2015                                                  50 non-null     object
 56  All firms, 2012                                                                         50 non-null     object
 57  Men-owned firms, 2012                                                                   50 non-null     object
 58  Women-owned firms, 2012                                                                 50 non-null     object
 59  Minority-owned firms, 2012                                                              50 non-null     object
 60  Nonminority-owned firms, 2012                                                           50 non-null     object
 61  Veteran-owned firms, 2012                                                               50 non-null     object
 62  Nonveteran-owned firms, 2012                                                            50 non-null     object
 63  Population per square mile, 2010                                                        50 non-null     object
 64  Land area in square miles, 2010                                                         50 non-null     object
 65  FIPS Code                                                                               50 non-null     object
 66  nan                                                                                     0 non-null      object
 67  NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.    0 non-null      object
 68  nan                                                                                     0 non-null      object
 69  Value Notes                                                                             0 non-null      object
 70  1                                                                                       1 non-null      object
 71  nan                                                                                     0 non-null      object
 72  Fact Notes                                                                              0 non-null      object
 73  (a)                                                                                     1 non-null      object
 74  (b)                                                                                     1 non-null      object
 75  (c)                                                                                     1 non-null      object
 76  nan                                                                                     0 non-null      object
 77  Value Flags                                                                             0 non-null      object
 78  -                                                                                       1 non-null      object
 79  D                                                                                       1 non-null      object
 80  F                                                                                       1 non-null      object
 81  FN                                                                                      1 non-null      object
 82  nan                                                                                     1 non-null      object
 83  S                                                                                       1 non-null      object
 84  X                                                                                       1 non-null      object
 85  Z                                                                                       1 non-null      object
dtypes: object(86)
memory usage: 34.4+ KB

In [586]:
#merging both datasets
df_combined = df_gun_clean.merge(df_census, left_on='state', right_on='state', how='inner')

In [587]:
df_combined.head(1)

,month,state,handgun,long_gun,other,totals,year_month,year,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,5,Alabama,21664.0,12423.0,1334.0,66937,2021-05-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [588]:
df_combined.columns.values

array(['month', 'state', 'handgun', 'long_gun', 'other', 'totals',
       'year_month', 'year',
       'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments, 2015', 'Total employment, 2015',
       'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code', nan,
       'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
       nan, 'Value Notes', '1', nan, 'Fact Notes', '(a)', '(b)', '(c)',
       nan, 'Value Flags', '-', 'D', 'F', 'FN', nan, 'S', 'X', 'Z'],
      dtype=object)

In [589]:
combined_columns=['Veterans,2011-2015', 'Foreign born persons, percent,2011-2015',
       'Housing units,July 1,2016,(V2016)',
       'Housing units,April 1,2010',
                  'Persons 65 years and over, percent, April 1,2010',
                  'Female persons, percent, April 1,2010',
                   'Population,percent change - April 1,2010 (estimates base) to July 1, 2016, (V2016)',
       'Population,Census, April 1,2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households,2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+,2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+,2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       'With a disability, under age 65 years, percent,2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+,2011-2015',
       'In civilian labor force, female, percent of population age 16 years+,2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012($1,000)',
       'Total manufacturers shipments,2012($1,000)',
       'Total merchant wholesaler sales,2012($1,000)',
       'Total retail sales, 2012($1,000)',
       'Total retail sales per capita,2012',
       'Mean travel time to work (minutes), workers age 16 years+,2011-2015',
       'Median household income (in 2015 dollars),2011-2015',
       'Per capita income in past 12 months (in 2015 dollars),2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments,2015', 'Total employment,2015',
       'Total annual payroll, 2015($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code',
       'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.', 'Value Notes', '1', 'Fact Notes', '(a)', '(b)', '(c)',
        'Value Flags', '-', 'D', 'F', 'FN', 'S', 'X', 'Z']

In [590]:
df_combined = df_combined.drop(df_combined[combined_columns], axis = 1, inplace=True)

KeyError: "['Housing units,July 1,2016,(V2016)', 'Persons 65 years and over, percent, April 1,2010', 'Total retail sales, 2012($1,000)', 'Population,Census, April 1,2010', 'In civilian labor force, total, percent of population age 16 years+,2011-2015', 'With a disability, under age 65 years, percent,2011-2015', 'Veterans,2011-2015', 'Language other than English spoken at home, percent of persons age 5 years+,2011-2015', 'Total merchant wholesaler sales,2012($1,000)', 'In civilian labor force, female, percent of population age 16 years+,2011-2015', 'Total health care and social assistance receipts/revenue, 2012($1,000)', 'Total employment,2015', 'Total retail sales per capita,2012', 'Population,percent change - April 1,2010 (estimates base) to July 1, 2016, (V2016)', 'Foreign born persons, percent,2011-2015', 'Total annual payroll, 2015($1,000)', 'Total employer establishments,2015', 'Housing units,April 1,2010', 'Median household income (in 2015 dollars),2011-2015', 'Female persons, percent, April 1,2010', 'Living in same house 1 year ago, percent of persons age 1 year+,2011-2015', 'Mean travel time to work (minutes), workers age 16 years+,2011-2015', 'Total manufacturers shipments,2012($1,000)', 'Households,2011-2015', 'Per capita income in past 12 months (in 2015 dollars),2011-2015'] not in index"

In [607]:
#change the name of new_labels = list(census_data.columns)
new_labels = list(df_combined.columns)
new_labels[7] ='year'
df_combined.columns = new_labels

In [609]:
new_labels = list(df_combined.columns)
new_labels[8] ='Population estimates, 2016'
df_combined.columns = new_labels

In [593]:
new_labels = list(df_combined.columns)
new_labels[12] ='Persons under 5 years, 2016'
df_combined.columns = new_labels

In [594]:
new_labels = list(df_combined.columns)
new_labels[14] ='Persons under 18 years, 2016'
df_combined.columns = new_labels

In [595]:
new_labels = list(df_combined.columns)
new_labels[16] ='Persons 65 years and over , 2016'
df_combined.columns = new_labels

In [596]:
new_labels = list(df_combined.columns)
new_labels[18] ='Female persons, 2016'
df_combined.columns = new_labels

In [597]:
new_labels = list(df_combined.columns)
new_labels[20] ='White alone, 2016'
df_combined.columns = new_labels

In [598]:
new_labels = list(df_combined.columns)
new_labels[21] ='Black or African American alone, 2016'
df_combined.columns = new_labels

In [599]:
new_labels = list(df_combined.columns)
new_labels[22] ='American Indian and Alaska Native alone, 2016'
df_combined.columns = new_labels

In [600]:
new_labels = list(df_combined.columns)
new_labels[23] ='Asian alone, 2016'
df_combined.columns = new_labels

In [601]:
new_labels = list(df_combined.columns)
new_labels[26] ='Hispanic or Latino, 2016'
df_combined.columns = new_labels

In [602]:
new_labels = list(df_combined.columns)
new_labels[27] ='White alone, not Hispanic or Latino , 2016'
df_combined.columns = new_labels

In [603]:
new_labels = list(df_combined.columns)
new_labels[28] ="Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015"
df_combined.columns = new_labels

In [610]:
df_combined.head(5)

,month,state,handgun,long_gun,other,totals,year_month,year,"Population estimates, 2016","Population estimates base, April 1, 2010, (V2016)",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
0,5,Alabama,21664.0,12423.0,1334.0,66937,2021-05-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Alabama,28723.0,16905.0,1962.0,88232,2021-04-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Alabama,34675.0,20702.0,2048.0,107474,2021-03-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Alabama,20970.0,16026.0,1548.0,74710,2021-02-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Alabama,33563.0,23477.0,2309.0,105602,2021-01-01,2021,"4,863,300","4,780,131",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [611]:
df_combined.columns.values

array(['month', 'state', 'handgun', 'long_gun', 'other', 'totals',
       'year_month', 'year', 'Population estimates, 2016',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010', 'Persons under 5 years, 2016',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, 2016',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over , 2016',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, 2016', 'Female persons, percent, April 1, 2010',
       'White alone, 2016', 'Black or African American alone, 2016',
       'American Indian and Alaska Native alone, 2016',
       'Asian alone, 2016',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, 2016',
       'White alone, not Hispanic or Latino , 2016',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments, 2015', 'Total employment, 2015',
       'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code', nan,
       'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
       nan, 'Value Notes', '1', nan, 'Fact Notes', '(a)', '(b)', '(c)',
       nan, 'Value Flags', '-', 'D', 'F', 'FN', nan, 'S', 'X', 'Z'],
      dtype=object)

In [612]:
columns_to = ['2016 Population Estimates',
        'Persons under 5 years, 2016',
       
       'Persons under 18 years, 2016',
       
       'Persons 65 years and over , 2016',
       
       'Female persons, 2016', 
       'White alone, 2016', 'Black or African American alone, 2016',
       'American Indian and Alaska Native alone, 2016',
       'Asian alone, 2016',
       'Native Hawaiian and Other Pacific Islander alone, 2016',
      
       'Hispanic or Latino, 2016',
       'White alone, not Hispanic or Latino , 2016',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015"]

In [614]:
#convert srt to float datatype
combined =  df_combined[columns_to]
for c in combined:
     df_combined[c] =  df_combined[c].str.extract('(\d+)').astype(float)

KeyError: "['2016 Population Estimates', 'Native Hawaiian and Other Pacific Islander alone, 2016'] not in index"

In [572]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13550 entries, 0 to 13549
Data columns (total 34 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   month                                                                                  13550 non-null  int64
 1   state                                                                                  13550 non-null  object
 2   hand_gun                                                                               13550 non-null  float64
 3   long_gun                                                                               13550 non-null  float64
 4   other                                                                                  7200 non-null   float64
 5   totals                                                                                 13550 non-null  int64
 6   year_month                                                                             13550 non-null  datetime64[ns]
 7   year                                                                                   13550 non-null  int64
 8   2016 Population Estimates                                                              13550 non-null  object
 9   Population estimates base, April 1, 2010,  (V2016)                                     13550 non-null  object
 10  Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)  13550 non-null  object
 11  Population, Census, April 1, 2010                                                      13550 non-null  object
 12  Persons under 5 years, 2016                                                            13550 non-null  object
 13  Persons under 5 years, percent, April 1, 2010                                          13550 non-null  object
 14  Persons under 18 years, 2016                                                           13550 non-null  object
 15  Persons under 18 years, percent, April 1, 2010                                         13550 non-null  object
 16  Persons 65 years and over , 2016                                                       13550 non-null  object
 17  Persons 65 years and over, percent, April 1, 2010                                      13550 non-null  object
 18  Female persons, 2016                                                                   13550 non-null  object
 19  Female persons, percent, April 1, 2010                                                 13550 non-null  object
 20  White alone, 2016                                                                      13550 non-null  object
 21  Black or African American alone, 2016                                                  13550 non-null  object
 22  American Indian and Alaska Native alone, 2016                                          13550 non-null  object
 23  Asian alone, 2016                                                                      13550 non-null  object
 24  Native Hawaiian and Other Pacific Islander alone, 2016                                 13550 non-null  object
 25  Two or More Races, percent, July 1, 2016,  (V2016)                                     13550 non-null  object
 26  Hispanic or Latino, 2016                                                               13550 non-null  object
 27  White alone, not Hispanic or Latino , 2016                                             13550 non-null  object
 28  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015               13550 non-null  object
 29  nan                                                                                    0 non-null      object
 30  nan                                                                                    0 non-null      object
 31  nan                                                                                    0 non-null      object
 32  nan                                                                                    0 non-null      object
 33  nan                                                                                    0 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(3), object(27)
memory usage: 3.6+ MB

In [523]:
df_combined.to_csv(r'C:\Users\serda\Downloads\df_combined_new.csv', index=False)

In [524]:
df_combined_new = pd.read_csv(r'C:\Users\serda\Downloads\df_combined_new.csv')

In [525]:
df_combined_new.head(5)

,month,state,handgun,long_gun,other,totals,year_month,year,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)",...,"Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)","Two or More Races, percent, July 1, 2016, (V2016)","Hispanic or Latino, percent, July 1, 2016, (V2016)","White alone, not Hispanic or Latino, percent, July 1, 2016, (V2016)","Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,5,Alabama,21664.0,12423.0,1334.0,66937,2021-05-01,2021,"4,863,300","4,780,131",...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
1,4,Alabama,28723.0,16905.0,1962.0,88232,2021-04-01,2021,"4,863,300","4,780,131",...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
2,3,Alabama,34675.0,20702.0,2048.0,107474,2021-03-01,2021,"4,863,300","4,780,131",...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
3,2,Alabama,20970.0,16026.0,1548.0,74710,2021-02-01,2021,"4,863,300","4,780,131",...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
4,1,Alabama,33563.0,23477.0,2309.0,105602,2021-01-01,2021,"4,863,300","4,780,131",...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN

In [526]:
df_combined_new.columns.values

array(['month', 'state', 'handgun', 'long_gun', 'other', 'totals',
       'year_month', 'year',
       'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33'], dtype=object)

In [450]:
df_combined_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13550 entries, 0 to 13549
Data columns (total 34 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   month                                                                                  13550 non-null  int64
 1   state                                                                                  13550 non-null  object
 2   handgun                                                                                13550 non-null  float64
 3   long_gun                                                                               13550 non-null  float64
 4   other                                                                                  7200 non-null   float64
 5   totals                                                                                 13550 non-null  int64
 6   year_month                                                                             13550 non-null  object
 7   year                                                                                   13550 non-null  int64
 8   Population estimates, July 1, 2016,  (V2016)                                           13550 non-null  object
 9   Population estimates base, April 1, 2010,  (V2016)                                     13550 non-null  object
 10  Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)  13550 non-null  object
 11  Population, Census, April 1, 2010                                                      13550 non-null  object
 12  Persons under 5 years, percent, July 1, 2016,  (V2016)                                 13550 non-null  object
 13  Persons under 5 years, percent, April 1, 2010                                          13550 non-null  object
 14  Persons under 18 years, percent, July 1, 2016,  (V2016)                                13550 non-null  object
 15  Persons under 18 years, percent, April 1, 2010                                         13550 non-null  object
 16  Persons 65 years and over, percent,  July 1, 2016,  (V2016)                            13550 non-null  object
 17  Persons 65 years and over, percent, April 1, 2010                                      13550 non-null  object
 18  Female persons, percent,  July 1, 2016,  (V2016)                                       13550 non-null  object
 19  Female persons, percent, April 1, 2010                                                 13550 non-null  object
 20  White alone, percent, July 1, 2016,  (V2016)                                           13550 non-null  object
 21  Black or African American alone, percent, July 1, 2016,  (V2016)                       13550 non-null  object
 22  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)               13550 non-null  object
 23  Asian alone, percent, July 1, 2016,  (V2016)                                           13550 non-null  object
 24  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)      13550 non-null  object
 25  Two or More Races, percent, July 1, 2016,  (V2016)                                     13550 non-null  object
 26  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                    13550 non-null  object
 27  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                   13550 non-null  object
 28  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015               13550 non-null  object
 29  Unnamed: 29                                                                            0 non-null      float64
 30  Unnamed: 30                                                                            0 non-null      float64
 31  Unnamed: 31                                                                            0 non-null      float64
 32  Unnamed: 32                                                                            0 non-null      float64
 33  Unnamed: 33                                                                            0 non-null      float64
dtypes: float64(8), int64(3), object(23)
memory usage: 3.5+ MB

In [451]:
columns_to_convert= [ 'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015"]

In [460]:
#converting string objects to float

df_combined_new[columns_to_convert] = df_combined_new[columns_to_convert].apply(lambda x: x.str.replace(',',''))

In [462]:
df_combined_new

,month,state,handgun,long_gun,other,totals,year_month,year,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)",...,"Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)","Two or More Races, percent, July 1, 2016, (V2016)","Hispanic or Latino, percent, July 1, 2016, (V2016)","White alone, not Hispanic or Latino, percent, July 1, 2016, (V2016)","Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,5,Alabama,21664.0,12423.0,1334.0,66937,2021-05-01,2021,4863300,4780131,...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
1,4,Alabama,28723.0,16905.0,1962.0,88232,2021-04-01,2021,4863300,4780131,...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
2,3,Alabama,34675.0,20702.0,2048.0,107474,2021-03-01,2021,4863300,4780131,...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
3,2,Alabama,20970.0,16026.0,1548.0,74710,2021-02-01,2021,4863300,4780131,...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
4,1,Alabama,33563.0,23477.0,2309.0,105602,2021-01-01,2021,4863300,4780131,...,0.10%,1.60%,4.20%,65.80%,23.50%,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13545,3,Wyoming,986.0,1574.0,NaN,2776,1999-03-01,1999,585501,563767,...,0.10%,2.10%,10.00%,84.10%,25.70%,NaN,NaN,NaN,NaN,NaN
13546,2,Wyoming,831.0,1584.0,NaN,2643,1999-02-01,1999,585501,563767,...,0.10%,2.10%,10.00%,84.10%,25.70%,NaN,NaN,NaN,NaN,NaN
13547,1,Wyoming,668.0,1401.0,NaN,2180,1999-01-01,1999,585501,563767,...,0.10%,2.10%,10.00%,84.10%,25.70%,NaN,NaN,NaN,NaN,NaN
13548,12,Wyoming,925.0,2303.0,NaN,3379,1998-12-01,1998,585501,563767,...,0.10%,2.10%,10.00%,84.10%,25.70%,NaN,NaN,NaN,NaN,NaN
13549,11,Wyoming,45.0,49.0,NaN,107,1998-11-01,1998,585501,563767,...,0.10%,2.10%,10.00%,84.10%,25.70%,NaN,NaN,NaN,NaN,NaN

In [463]:
df_combined_new[columns_to_convert] = df_combined_new[columns_to_convert].astype(float)

ValueError: could not convert string to float: '1.70%'

<a id='eda'></a>
# Exploratory Data Analysis


### Has pandemic impacted on gun sales numbers in the US?

In [464]:
df_combined_new = pd.read_csv(r'C:\Users\serda\Downloads\df_combined_new.csv', index_col='state')

In [477]:
df_combined_new.columns.values

array(['handgun', 'long_gun', 'other', 'totals', 'year_month', 'year',
       'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33'], dtype=object)

In [484]:
#percentage removal

parse_percent =[ 'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015"]

In [485]:
df_combined_new[should_remove] = df_combined_new[should_remove].apply(lambda x: x.str.replace('%',''))

In [516]:
df_combined_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13550 entries, Alabama to Wyoming
Data columns (total 31 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   handgun                                                                            13550 non-null  float64
 1   long_gun                                                                           13550 non-null  float64
 2   other                                                                              7200 non-null   float64
 3   totals                                                                             13550 non-null  int64
 4   year_month                                                                         13550 non-null  object
 5   year                                                                               13550 non-null  int64
 6   Population estimates, July 1, 2016,  (V2016)                                       13550 non-null  object
 7   Population estimates base, April 1, 2010,  (V2016)                                 13550 non-null  object
 8   Population, Census, April 1, 2010                                                  13550 non-null  object
 9   Persons under 5 years, percent, July 1, 2016,  (V2016)                             13550 non-null  object
 10  Persons under 5 years, percent, April 1, 2010                                      13550 non-null  object
 11  Persons under 18 years, percent, July 1, 2016,  (V2016)                            13550 non-null  object
 12  Persons under 18 years, percent, April 1, 2010                                     13550 non-null  object
 13  Persons 65 years and over, percent,  July 1, 2016,  (V2016)                        13550 non-null  object
 14  Persons 65 years and over, percent, April 1, 2010                                  13550 non-null  object
 15  Female persons, percent,  July 1, 2016,  (V2016)                                   13550 non-null  object
 16  Female persons, percent, April 1, 2010                                             13550 non-null  object
 17  White alone, percent, July 1, 2016,  (V2016)                                       13550 non-null  float64
 18  Black or African American alone, percent, July 1, 2016,  (V2016)                   13550 non-null  object
 19  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)           13550 non-null  object
 20  Asian alone, percent, July 1, 2016,  (V2016)                                       13550 non-null  object
 21  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)  13550 non-null  object
 22  Two or More Races, percent, July 1, 2016,  (V2016)                                 13550 non-null  object
 23  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                13550 non-null  object
 24  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)               13550 non-null  object
 25  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015           13550 non-null  object
 26  Unnamed: 29                                                                        0 non-null      float64
 27  Unnamed: 30                                                                        0 non-null      float64
 28  Unnamed: 31                                                                        0 non-null      float64
 29  Unnamed: 32                                                                        0 non-null      float64
 30  Unnamed: 33                                                                        0 non-null      float64
dtypes: float64(9), int64(2), object(20)
memory usage: 3.6+ MB

In [518]:
census =  df_combined_new.iloc[:,1:][columns_to_convert]
for c in census:
     df_combined_new[c] =  df_combined_new[c].str.extract('(\d+)').astype(float)
    
# check the changes
df_combined_new.info()

KeyError: "['Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)'] not in index"

In [515]:
df_combined_new['Population estimates, July 1, 2016, (V2016)']

KeyError: 'Population estimates, July 1, 2016, (V2016)'

In [511]:
df_combined_new['Population estimates, July 1, 2016, (V2016)']=df_combined_new['Population estimates, July 1, 2016, (V2016)'].apply(lambda x: x.str.replace(', July 1, 2016, (V2016)',' 2016'))

KeyError: 'Population estimates, July 1, 2016, (V2016)'

In [481]:
df_combined_new.drop(['Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)'], axis = 1, inplace = True)

In [480]:
df_combined_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13550 entries, Alabama to Wyoming
Data columns (total 32 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   handgun                                                                                13550 non-null  float64
 1   long_gun                                                                               13550 non-null  float64
 2   other                                                                                  7200 non-null   float64
 3   totals                                                                                 13550 non-null  int64
 4   year_month                                                                             13550 non-null  object
 5   year                                                                                   13550 non-null  int64
 6   Population estimates, July 1, 2016,  (V2016)                                           13550 non-null  object
 7   Population estimates base, April 1, 2010,  (V2016)                                     13550 non-null  object
 8   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)  13550 non-null  object
 9   Population, Census, April 1, 2010                                                      13550 non-null  object
 10  Persons under 5 years, percent, July 1, 2016,  (V2016)                                 13550 non-null  object
 11  Persons under 5 years, percent, April 1, 2010                                          13550 non-null  object
 12  Persons under 18 years, percent, July 1, 2016,  (V2016)                                13550 non-null  object
 13  Persons under 18 years, percent, April 1, 2010                                         13550 non-null  object
 14  Persons 65 years and over, percent,  July 1, 2016,  (V2016)                            13550 non-null  object
 15  Persons 65 years and over, percent, April 1, 2010                                      13550 non-null  object
 16  Female persons, percent,  July 1, 2016,  (V2016)                                       13550 non-null  object
 17  Female persons, percent, April 1, 2010                                                 13550 non-null  object
 18  White alone, percent, July 1, 2016,  (V2016)                                           13550 non-null  object
 19  Black or African American alone, percent, July 1, 2016,  (V2016)                       13550 non-null  object
 20  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)               13550 non-null  object
 21  Asian alone, percent, July 1, 2016,  (V2016)                                           13550 non-null  object
 22  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)      13550 non-null  object
 23  Two or More Races, percent, July 1, 2016,  (V2016)                                     13550 non-null  object
 24  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                    13550 non-null  object
 25  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                   13550 non-null  object
 26  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015               13550 non-null  object
 27  Unnamed: 29                                                                            0 non-null      float64
 28  Unnamed: 30                                                                            0 non-null      float64
 29  Unnamed: 31                                                                            0 non-null      float64
 30  Unnamed: 32                                                                            0 non-null      float64
 31  Unnamed: 33                                                                            0 non-null      float64
dtypes: float64(8), int64(2), object(22)
memory usage: 3.7+ MB

In [487]:
df_combined_new['White alone, percent, July 1, 2016,  (V2016)'] = df_combined_new['White alone, percent, July 1, 2016,  (V2016)'].astype(float)

In [505]:
df_combined_new['Population estimates, July 1, 2016, (V2016)']

KeyError: 'Population estimates, July 1, 2016, (V2016)'

In [500]:
df_combined_new['Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)'] = (df_combined_new['Population estimates, July 1, 2016, (V2016)'] * df_combined_new['Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)']) / 100

KeyError: 'Population estimates, July 1, 2016, (V2016)'

### How does the gun ownership look like among ethnic groups?

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!